# env files
.env

# python specific files
__pycache__/
*.py[codz]
*$py.class

develop-eggs/
dist/
downloads/
eggs/
.eggs/

wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# db file
peaks.sqlite

# migrations for now, since they will change often
peakquiz/migrations/*
