# env files
.env

# python specific files
__pycache__/
*.py[codz]
*$py.class

develop-eggs/
dist/
downloads/
eggs/
.eggs/

wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# db file
peaks.sqlite

# migrations for now, since they will change often
peakquiz/migrations/*

# npm
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
