@use "vars.scss";

body {
    font-family: monospace;
    background: vars.$bg-accent;
    color: vars.$foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}
